.container {
  padding: 0 1rem;
  margin: 36px auto 6rem;
}

.header {
  display: flex;
  margin-bottom: 60px;
  margin-top: 48px;
  padding-left: 75px;
  background-color: HSL(180, 100%, 50%);
}

.backToHome {
  margin: 36px 0 0;
}
