.navbar {
  margin-left: 75px;
}

.nav1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  margin-right: 20%;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  @apply text-primary-900;
}

.nav1 img {
  filter: opacity(50%);
  position: absolute;
}

.nav1 p {
  position: relative;
  top: 70px;
}
